<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>Essay</title>

     <link rel="stylesheet" href="./style.css">
     </link>

</head>

<body>
     <script src="/demos/googlegg.js"></script>

     <div id="app" class="main-page">
          {{group}}
          <div class="left">
               <div class="nav-back"></div>
               <div class="nav">
                    <div v-for="(item,index) in group" :key="index">{{item}}</div>
               </div>
          </div>
          <div class="right">
               <div class="content">
                    <div class="con-ggh" v-for="(item,index) in list" :key="index">
                         <div class="zcinfo fl">
                              <a v-for="(items,index) in item" :href="items.link" class="ck-m bs tc dp">{{item.title}}</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="clear"></div>
     </div>

     <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
     <script src="https://unpkg.com/vue/dist/vue.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script type="text/javascript">
          $(".main-page .nav div").mouseenter(function () {
               var $this = $(this);
               var index = $this.index();
          }).mouseleave(function () {
               var $this = $(this);
               var index = $this.index();
          }).click(function () {
               var $this = $(this);
               var index = $this.index();
               var l = -(index * 80);
               $(".main-page .nav div").removeClass("on");
               $(".main-page .nav div").eq(index).addClass("on");
               $(".main-page .content .con-ggh:eq(0)").stop().animate({ "margin-top": l + "vh" }, 500);
          });
     </script>
     <script>
          new Vue({
               el: '#app',
               data: function () {
                    return {
                         group: [],
                         list: []
                    }
               },
               mounted: function () {
                    this.init();
               },
               methods: {
                    init() {
                         let url = "./list.json";
                         axios.get(url)
                              .then(function (response) {
                                   this.group = [];
                                   this.list = [];
                                   this.group = response.data.group;
                                   this.list = response.data.essay;
                                   console.log(this.group)
                                   console.log(this.list)
                              })
                              .catch(function (error) {
                                   console.log(response);
                              })
                    }
               }
          })
     </script>
</body>

</html>
